section {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    margin: auto;
}

#banner {
    background-color: antiquewhite;
    padding: 20px 20px 0px 20px;
    width: 45%;
}

section h1 {
    margin-bottom: 10px;
}