#login_form {
    background-color: antiquewhite;
    padding: 20px;
    width: 45%;
}

/* do not want div containing 'Submit' button to have these styles */
form div:not(#submit_container) {
    margin: 5px auto;
}

/* div containing 'Submit' button styles */
form #submit_container {
    margin-left: 180px;
    margin-top: 10px;
}

form label {
    display: inline-block;
    width: 85px;
}

.error-text {
    color: red;
    display: inline-block;
    margin-top: 5px;
}